
div{
    height: 40px;
    margin-top: -3px;
    box-sizing: border-box;
    margin-left: 4px;
}
ul li{
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 4.5px;
    /* border-radius: 5%; */
    font-size: 20px;
    padding-bottom: 4px;
    padding-top: 4px;
}
i{
    /* border-radius: 5%; */
    /* border: 1px solid #888; */
     /* color: transparent; */
    -webkit-text-fill-color: white; 
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #444;
transition:transform .2s;

}
i:hover{
    /* transform: rotate(-8deg); */
    /* transform: scale(1.2),rotate(-8deg); */
    transform:scale(1.3) rotate(-15deg);
    /* transform:rotate(-8deg); */
}

.yellow{
    -webkit-text-fill-color:yellow; 
    color: yellow;
    /* background-color: yellow; */
    
   }