.yellow{
 color: yellow;
 
}
div{
    height: 40px;
    margin-top: -3px;
    box-sizing: border-box;
    margin-left: 40px;
}
ul li{
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 4.5px;
    /* border-radius: 5%; */
    font-size: 25px;
    padding-bottom: 4px;
    padding-top: 4px;
}
i{
    /* border-radius: 5%; */
    /* border: 1px solid #888; */
    color: transparent;
    -webkit-text-fill-color: white;
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: #444;
transition:transform .2s;

}
i:hover{
    /* transform: rotate(-8deg); */
    /* transform: scale(1.2),rotate(-8deg); */
    transform:scale(1.3) rotate(-15deg);
    /* transform:rotate(-8deg); */
}
