.profile-avtaar
{
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
    border-radius: 60%;
    /* background: url(projectize/src/assets/img/adult-1.png); */
}
.profile
{
    border: none;
    margin: 0;
}

.but
{
  margin-top: -0.5rem;
  padding: 9px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  cursor: pointer;
  border-radius: 50%;
  border: none;
  background-color: rgb(58, 207, 245);
}

.h6, h6 {
  font-size: .625rem;
}
.zoom
{
    transition: transform .2s;
}
.zoom:hover
{
    transform: scale(1.3) ;
}
.hov:hover
{
  color:black;
}