.zoom
{
    transition: transform .2s;
}
.zoom:hover
{
    transform: scale(1.5); ;
}

.avatar {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    vertical-align:text-bottom
  }

  .i:hover {
    animation: bellshake 0.5s;
    animation-iteration-count: infinite;
  }
  
  /* @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  } */
  @keyframes bellshake {
    0% { transform: rotate(0); }
    15% { transform: rotate(5deg); }
    30% { transform: rotate(-5deg); }
    45% { transform: rotate(4deg); }
    60% { transform: rotate(-4deg); }
    75% { transform: rotate(2deg); }
    85% { transform: rotate(-2deg); }
    92% { transform: rotate(1deg); }
    100% { transform: rotate(0); }
  }

  .files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}
.files input:focus
{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
 }
.files{ position:relative}
.files:after {  pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.files:before {
    position: absolute;
    bottom: -25px;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 67px;
    content: " or drag it here. ";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}

.tooltip_wrap {
  text-align: center;
}
.tooltip {
  display: inline-block; 
  position: relative; 
  z-index: 99; 
  font-size: 40px; 
  cursor: pointer; 
  color: #4cbea1; 
  min-height: 60px;
}
.tooltip .icon {
  font-style: normal; 
  font-weight: 400;
}
.tooltip a {
  color: #4cbea1 !important;
}
.tooltip .icon:before {
  font-family: "FontAwesome"; 
  font-weight: 400;
}
.tooltip .icon_clock:before {
  content: "\f017";
}
.tooltip::after { 
  content: ''; 
  position: absolute; 
  width: 100%; 
  height: 20px; 
  bottom: 100%; 
  left: 50%; 
  transform: translateX(-50%); 
  -webkit-transform: translateX(-50%); 
}
.tooltip-content {
  position: absolute; 
  z-index: 99; 
  width: 250px; 
  left: 50%; 
  transform: translateX(-50%); 
  -webkit-transform: translateX(-50%);
  top: 100%; 
  font-size: 14px; 
  font-weight: 400; 
  color: #fff; 
  background: transparent; 
  opacity: 0;
  pointer-events: none; 
  cursor: default; 
  -webkit-transition: opacity 0.3s 0.3s; 
  transition: opacity 0.3s 0.3s; 
}
.tooltip:hover .tooltip-content {
  pointer-events: auto; 
  opacity: 1; 
  -webkit-transition-delay: 0s; 
  transition-delay: 0s;
}
.tooltip-content span { 
  display: block;
}
.tooltip-text { 
  border-top: 10px solid #4cbea1; 
  overflow: hidden; 
  -webkit-transform: scale3d(0,1,1); 
  transform: scale3d(0,1,1); 
  -webkit-transition: -webkit-transform 0.3s 0.3s; 
  transition: transform 0.3s 0.3s;
}
.tooltip:hover .tooltip-text { 
  -webkit-transition-delay: 0s;
  transition-delay: 0s; 
  -webkit-transform: scale3d(1,1,1); 
  transform: scale3d(1,1,1);
}
.tooltip-inner {
  background-color: #054EA0; 
  padding: 10px 15px; 
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0); 
  -webkit-transition: -webkit-transform 0.3s; 
  transition: transform 0.3s;
}
.tooltip:hover .tooltip-inner { 
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s; 
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0); 
}
.tooltip-content::after {
  content: ''; 
  top: -20px; 
  left: 50%; 
  border: solid transparent; 
  height: 0;    
  width: 0; 
  position: absolute; 
  pointer-events: none; 
  border-color: transparent; 
  border-bottom-color: #4CBEA1; 
  border-width: 10px; 
  transform: translateX(-50%); 
  -webkit-transform: translateX(-50%);
}
@media screen and (max-width: 767px) {
  .tooltip-content {
      display: none;
  }
}

.glow {
  /* font-size: 80px; */
  color: #fff;
  text-align: center;
  /* -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate; */
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes 
glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}


/* 
.test + .tooltip > .tooltip-inner
 {
  background-color: red; 
  color: #FFFFFF; 
  border: 1px solid green; 
  padding: 15px;
  font-size: 20px;
}

.test + .tooltip.bottom > .tooltip-arrow 
{
  border-bottom: 5px solid blue;
} */

/* 
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip 
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
} */



/* //------------------------------------------// */





