/* ul li a
{
    color:#818f9b
}
ul li a:hover
{
    color: rgb(87, 129, 129);
} */
.zoom
{
    transition: transform .2s;
}
.zoom:hover
{
    transform: scale(1.5); ;
}

/* .max-width-container {
    max-width: 1224px;
    margin-left: auto;
    margin-right: auto;
} */

ul{
    list-style: none;
    margin-top: 1rem;
}

ul li{
    float: left;
    width: 662px;
    /* background-color: black; */
    color: black;
    height: 55px;
    line-height: 50px;
    /* text-align: center; */
}
.zz:hover{
    /* color: blue; */
    color: rgba(9, 33, 36, 0.705);
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
/* .tt:hover{
    /* color: blue; 
    color: rgba(16, 196, 219, 0.705);
} */