/* ul li a
{
    color:#818f9b
}
ul li a:hover
{
    color: rgb(87, 129, 129);
} */
.zoom
{
    transition: transform .2s;
}
.zoom:hover
{
    transform: scale(1.5); ;
}

/* .max-width-container {
    max-width: 1224px;
    margin-left: auto;
    margin-right: auto;
} */

ul{
    list-style: none;
    margin-top: 1rem;
}

ul li{
    float: left;
    width: 662px;
    /* background-color: black; */
    color: black;
    height: 55px;
    line-height: 50px;
    /* text-align: center; */
}
.zz:hover{
    /* color: blue; */
    color: rgba(9, 33, 36, 0.705);
}

.bb{
  background-color: darkcyan;
}
.bb:hover{
  background-color: rgb(73, 206, 206);
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }

  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
/* .tt:hover{
    /* color: blue; 
    color: rgba(16, 196, 219, 0.705);
} */

/* ------------------ngx star rating starts--------- */
.cont {
  width: 100%;
  max-width: 262px;
  text-align: center;
  margin: auto auto;
  /* display: inline-block; */
  padding: 6px 0;
  background: transparent;
  color: black;
  border-radius: 5px;
  /* border: thin solid #444; */
  border: none;
  overflow: hidden;
  height: 60px;
}

.cont2 {
  width: 100%;
  max-width: 270px;
  text-align: center;
  margin: auto 3.5rem;
  /* display: inline-block; */
  padding: 6px 0;
  background: transparent;
  color: black;
  border-radius: 5px;
  /* border: thin solid #444; */
  border: none;
  overflow: hidden;
  height: 80px;
}

div.stars {
  width: 270px;
  display: inline-block;
}
/* ------------------ngx star rating ends--------- */



/* ---------------popup starts---------------- */

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 260px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
  /* ---------------popup ends---------------- */



  /* ---------------star starts---------------- */

  .rating {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
  }
  
  .rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
  }
  
  .rating label:last-child {
    position: static;
  }
  
  .rating label:nth-child(1) {
    z-index: 5;
  }
  
  .rating label:nth-child(2) {
    z-index: 4;
  }
  
  .rating label:nth-child(3) {
    z-index: 3;
  }
  
  .rating label:nth-child(4) {
    z-index: 2;
  }
  
  .rating label:nth-child(5) {
    z-index: 1;
  }
  
  .rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  
  .rating label .icon {
    float: left;
    color: transparent;
    /* border-radius: 2%; */
  }
  
  .rating label:last-child .icon {
    color: #000;
  }
  
  .rating:not(:hover) label input:checked ~ .icon,
  .rating:hover label:hover input ~ .icon {
    /* color: #09f; */
    color: #fd4;
  }
  
  .rating label input:focus:not(:checked) ~ .icon:last-child {
    color: #000;
    text-shadow: 0 0 5px #fd4;
  }

  /* ---------------star ends---------------- */