<!-- <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <div class="sidebar-heading logo">  <a routerLink="/"><img src="assets/img/logo1.png" style="height: 50px;width: 60px;" alt="" title="" />&nbsp;<span style="color: white;font-weight:bolder;font-size:larger;">Projectize</span> </a> </div>
 -->


    <!-- <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle"><i class="fas fa-bars"></i></button> -->
    <!-- <button class="btn btn-primary" id="menu-toggle"><i class="fa fa-bars zoom" aria-hidden="true" style="width: 20px;color: papayawhip;"></i></button> -->
    <!-- Navbar Search-->




    <!-- <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group">
          <input class="form-control" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" style="margin-right: 1rem;border-radius: 4%;"/>
            <div class="input-group-append">
                <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
            </div> 

            

        </div>
    </form> -->




    <!-- Navbar-->

    <!-- <ul class="navbar-nav ml-auto ml-md-0"> -->

        <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" routerLink="/usermanual">User Manual</a>
                <a class="dropdown-item" *ngIf="!curuser" routerLink="/login">Login</a>
                <a class="dropdown-item" *ngIf="curuser" routerLink="">Hello {{curuser}}</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" *ngIf="curuser" routerLink="" (click)="logout()">Logout</a>
            </div>
        </li> -->


        <!-- <li><a class="nav-link" routerLink="/">Home</a></li>
      
    </ul>
  </nav> -->

  <!-- <div><a class="nav-link" (click)="goBack()" type="button" style="color: black;font-weight: 7rem;font-size: large;margin-top: 7rem;margin-left: 2rem;"><i class='fa fa-angle-left' style='font-size:18px'></i>&nbsp;<span>Back</span>
  </a>
  </div> -->


  <section class="home-banner-area relative" style="height: 100px;background: rgba(4, 70, 87, 3.705);">   
    <!-- rgba(9, 33, 36, 1.705) -->
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-center">
            <!-- <div class="banner-content col-lg-8 col-md-12">
               <br><br> <h1 class="wow fadeIn" data-wow-duration="4s"> We Rank the Best Projects <br> on the Web</h1>
                <p class="text-white">
                    In the history of modern astronomy, there is probably no one greater leap forward than the building and launch of the space
                    telescope.
                </p>

                <div class="input-wrap">
                    <form #cc="ngForm" class="form-box d-flex justify-content-between">
                        <input type="text" id="ss" placeholder="Search Project" class="form-control" [(ngModel)]="keyword" name="keyword" required>
                        <button *ngIf="cc.valid" type="submit" class="btn search-btn" (click)="search()">Search</button>
                    </form>
                </div>
                <h4 class="text-white">Top technologies</h4>

                <div class="courses pt-20">
                    <a href="/" data-wow-duration="1s" data-wow-delay=".3s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">Ruby on Rails</a>
                    <a href="/" data-wow-duration="1s" data-wow-delay=".6s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">Python</a>
                    <a href="/" data-wow-duration="1s" data-wow-delay=".9s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">Marketing</a>
                    <a href="/" data-wow-duration="1s" data-wow-delay="1.2s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">UI/UX Design</a>
                    <a href="/" data-wow-duration="1s" data-wow-delay="1.5s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">Android</a>
                    <a href="/" data-wow-duration="1s" data-wow-delay="1.8s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">Data Science</a>
                    <a href="/" data-wow-duration="1s" data-wow-delay="2.1s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">Cryptocurrency</a>
                    <a href="/" data-wow-duration="1s" data-wow-delay="2.4s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">Javascript</a>
                    <a href="/" data-wow-duration="1s" data-wow-delay="2.7s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">Html / CSS</a>
                </div>
            </div> -->
        </div>
    </div>
    <!-- <div class="rocket-img">
        <img src="assets/img/rocket.png" alt="">
    </div> -->
</section>





  <div style="width: 100%;">
    <ul>
      <li class="zz"><a class="nav-link" (click)="goBack()" type="button" style="font-weight: 7rem;font-size: large;margin-left: 2rem;"><i class='fa fa-angle-left' style='font-size:18px'></i>&nbsp;<span>Back</span></a></li>
      <li class="zz"><a class="nav-link" routerLink="/uploadproject" type="button" style="color: black; font-weight: 7rem;font-size: large;margin-left: 34rem;">Upload&nbsp;<i class='fa fa-angle-right' style='font-size:18px;'></i></a></li>
    </ul>
  </div>

  <section class="feature-area" style="margin-top:-4rem;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <h1>Projects You Might Need</h1>
                    <p>
                      “A good plan can help with risk analysis, but it will never guarantee the smooth running of the project.”
                    </p>
                    <p>
                      “Operations keeps the lights on, strategy provides a light at the end of the tunnel, but project management is the train engine that moves the organization forward.”
                    </p>
                </div>
            </div>
        </div>
        <div class="feature-inner row">
            <div class="col-lg-4 col-md-6a" (click)="details(a)" data-toggle="modal" data-target="#myModal" *ngFor="let a of projects">
                <div class="feature-item">
                  <a href="http://localhost:4000/{{a._id}}_screenshots_1.{{a.ssext|elementFromString:',':0}}" download> <img src="http://localhost:4000/{{a._id}}_screenshots_1.{{a.ssext|elementFromString:',':0}}" alt="" class="zoom" style=" width: 13rem;height:6rem;padding-left: 3rem;" download></a> 
                    <h4>{{a.title}}</h4>
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
                        <p>
                           {{a.desc}}
                        </p>
                        <p>
                          technologies like {{a.tech}}, etc.. are used.
                        </p>
                        
                    </div>
                </div>
            </div>

            <div *ngIf="prodetail" class="modal fade" id="myModal" role="dialog" style="width: 1100px;height: 100vh;">
              <div class="modal-dialog" style="width: 1200px">
              
                <!-- Modal content-->
                <div class="modal-content" style="width: 750px">
                  <div class="modal-header">
                    <h4 class="modal-title column" style="margin-top: 1rem;">Project Details</h4>
                      <form [formGroup]="form">
                        <div class="cont">
                          <div class="stars">
                            <ngx-star-rating formControlName="rating2" [id]="'rating2'" [disabled] ="true"></ngx-star-rating>
                          </div>
                          <!-- <div>Rating(Disabled): {{form.value.rating2}}</div> -->
                      </div>
                      </form>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                    
                    <div class="row"> 
                      <div class="col-md-7">
                        <form >
                          <table>
                            <tr>
                              <td>Title:</td>
                              <td style="padding-left: 5rem;">{{prodetail.title}}</td>
                            </tr>
                            <tr>
                              <td>Description:</td>
                              <td style="padding-left: 5rem;">{{prodetail.desc}}</td>
                            </tr>
                            <tr>
                              <td>Technologies Used:</td>
                              <td style="padding-left: 5rem;">{{prodetail.tech}}</td>
                            </tr>
                            <tr>
                              <td>Screenshots:</td>
                              <td style="padding-left: 5rem;"><a class="column" *ngFor="let p of ssarr; let i=index;"><img src="http://localhost:4000/{{prodetail._id}}_screenshots_{{i+1}}.{{p}}" alt="" style=" width: 8rem;height:4rem;"></a></td>
                                <!-- <a href="" class="column" download><img src="assets/img/adult-1.png" alt="" style=" width: 8rem;height:4rem;padding-left: 5px;"></a>
                                  <a href="" class="column" download><img src="http://localhost:4000/{{a._id}}_screenshots_1.{{a.ssext}}" alt="" style=" width: 8rem;height:4rem;padding-left: 5px;"></a>
                                </td> -->
                            </tr>
                            <tr>
                              <td>Download:</td>
                              <td style="padding-left: 5rem;"><a href="http://localhost:4000/{{prodetail._id}}_zipfile_1.{{prodetail.zipext}}" class="column" download><i class="ti-download"></i>&nbsp;Zip</a><a href="http://localhost:4000/{{prodetail._id}}_ppt_1.{{prodetail.pptext}}" class="column" download><i class="ti-download"></i>&nbsp;PPT</a><a href="http://localhost:4000/{{prodetail._id}}_report_1.{{prodetail.reportext}}" download><i class="ti-download"></i>&nbsp;Report</a></td>
                            </tr>
                            <tr>
                              <td>How To Setup:</td>
                              <td style="padding-left: 5rem;"><a href="http://localhost:4000/{{prodetail._id}}_setupproject_1.{{prodetail.setproext}}" download><i class="ti-file"></i>&nbsp;Tap to view</a></td>
                            </tr>
                            <tr>
                              <td>Cover Video:</td>
                              <td style="padding-left: 5.2rem;"><a href="http://localhost:4000/{{prodetail._id}}_covervideo_1.{{prodetail.coverext}}" download><i class="fa fa-play"></i>&nbsp;Tap to watch</a></td>
                            </tr><br>
                            <tr>
                              <td>
                                <!-- <div class="popup" (click)="myFunction()" style="padding-left: 5rem;"><button class="btn-default btn" style="width: 6rem;">Ratings&nbsp;<i class="fa fa-star-o" aria-hidden="true"></i></button>
                                  <span class="popuptext" id="myPopup">    
                                    // A Simple Popup! 

                                    <form class="rating">
                                      <label>
                                        <input type="radio" name="stars" value="1" />
                                        <span class="icon">★</span>
                                      </label>
                                      <label>
                                        <input type="radio" name="stars" value="2" />
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                      </label>
                                      <label>
                                        <input type="radio" name="stars" value="3" />
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>   
                                      </label>
                                      <label>
                                        <input type="radio" name="stars" value="4" />
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                      </label>
                                      <label>
                                        <input type="radio" name="stars" value="5" />
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                      </label>
                                    </form>



                                  </span>
                                </div> -->
                                Ratings: 
                              </td>
                              <td>
                                  <!-- <button class="btn-default btn">Comments&nbsp;<i class="fa fa-commenting-o" aria-hidden="true"></i></button> -->
                                
                                  <form [formGroup]="form">
                                    <div class="cont2">
                                      <div class="stars">
                                        <ngx-star-rating formControlName="rating1" [id]="'rating'"></ngx-star-rating>
                                      </div>
                                      <div>Rating: {{form.value.rating1}}</div>
                                      <p>form is valid: {{ form.valid ? 'true' : 'false' }}</p>
                                    </div>
                                    <!-- <div class="cont">
                                        <div class="stars">
                                          <ngx-star-rating formControlName="rating2" [id]="'rating2'" [disabled] ="true"></ngx-star-rating>
                                        </div>
                                        <div>Rating(Disabled): {{form.value.rating2}}</div>
                                    </div> -->
                                    </form>
                                    <!-- <div class="cont">
                                      <div class="stars">
                                        <ngx-star-rating [(ngModel)]="rating3" [id]="'rating3'" ></ngx-star-rating >
                                      </div>
                                      <div>Rating: {{ rating3 }}</div>
                                    </div> -->

                              </td>
                            </tr><br>
                            <tr rowspan="2">
                              <td colspan="2">

                                <!-- <textarea name="comments" id="comments" cols="87.5" rows="4" placeholder="Place Your Comments Here" onfocus="this.placeholder=''" onblur="this.placeholder='Place Your Comments Here'"></textarea>
                                <br><button style="margin-left: 41.5rem;margin-top:-4%;"><i class="ti-arrow-right"></i></button>
                              -->
                                <div class="input-wrap">
                                  <form #cc="ngForm" class="form-box d-flex justify-content-between">
                                    <textarea name="comments" id="comments" cols="84.5" rows="3" placeholder="Place Your Comments Here" onfocus="this.placeholder=''" onblur="this.placeholder='Place Your Comments Here'"></textarea>
                                     <span style="padding-left:0.07rem;"><button type="submit" class="btn btn-default bb"><i class="ti-arrow-right"></i></button></span> 
                                  </form>
                                </div>


                              </td>
                            </tr><br>
                            <tr rowspan="2">
                              <td colspan="2"> 

                                <div class="input-wrap">
                                  <form #cc="ngForm" class="form-box d-flex justify-content-between">
                                    <textarea name="comments" id="comments" cols="87.5" rows="8" style="overflow-y: auto;"></textarea>
                                  </form>
                                </div>

                              </td>
                            </tr>
                          </table>
                        </form>
                      </div>
                    </div>    
                    
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-info btn-lg" style="height: 45px;" data-dismiss="modal">Close</button>
                  </div>
                </div>
                
              </div>
            </div>


            <!-- <div class="col-lg-4 col-md-6a">
                <div class="feature-item">
                  <img src="http://localhost:4000/{{a._id}}_screenshots_1.{{a.ssext}}" alt="" class="zoom" style=" width: 13rem;height:6rem;padding-left: 3rem;">
                    <h4>{{a.title}}</h4>
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s">
                      <p>
                        {{a.desc}}
                     </p>
                     <p>
                       technologies like {{a.tech}}, etc.. are used.
                     </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6a">
                <div class="feature-item">
                  <img src="http://localhost:4000/{{a._id}}_screenshots_1.{{a.ssext}}" alt="" class="zoom" style=" width: 13rem;height:6rem;padding-left: 3rem;">
                    <h4>{{a.title}}</h4>
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s">
                      <p>
                        {{a.desc}}
                     </p>
                     <p>
                       technologies like {{a.tech}}, etc.. are used.
                     </p>
                    </div>
                </div>
            </div><br>
            <div class="col-lg-4 col-md-6a">
                <div class="feature-item">
                  <img src="http://localhost:4000/{{a._id}}_screenshots_1.{{a.ssext}}" alt="" class="zoom" style=" width: 13rem;height:6rem;padding-left: 3rem;">
                    <h4>{{a.title}}</h4>
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
                      <p>
                        {{a.desc}}
                     </p>
                     <p>
                       technologies like {{a.tech}}, etc.. are used.
                     </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6a">
                <div class="feature-item">
                  <img src="http://localhost:4000/{{a._id}}_screenshots_1.{{a.ssext}}" alt="" class="zoom" style=" width: 13rem;height:6rem;padding-left: 3rem;">
                    <h4>{{a.title}}</h4>
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s">
                      <p>
                        {{a.desc}}
                     </p>
                     <p>
                       technologies like {{a.tech}}, etc.. are used.
                     </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6a">
                <div class="feature-item">
                  <img src="http://localhost:4000/{{a._id}}_screenshots_1.{{a.ssext}}" alt="" class="zoom" style=" width: 13rem;height:6rem;padding-left: 3rem;">
                    <h4>{{a.title}}</h4>
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s">
                      <p>
                        {{a.desc}}
                     </p>
                     <p>
                       technologies like {{a.tech}}, etc.. are used.
                     </p>
                    </div>
                </div>
            </div>-->
        </div> 
    </div>
</section>


  <!-- <div class="container">
    <h2>Cards Columns</h2>
    <p>The .card-columns class creates a masonry-like grid of cards. The layout will automatically adjust as you insert more cards.</p>
    <p><strong>Note:</strong> The cards are displayed vertically on small screens (less than 576px):</p>
    <div class="card-columns">
      <div class="card bg-primary">
        <div class="card-body text-center">
          <p class="card-text">Some text inside the first card</p>
        </div>
      </div>
      <div class="card bg-warning">
        <div class="card-body text-center">
          <p class="card-text">Some text inside the second card</p>
        </div>
      </div>
      <div class="card bg-success">
        <div class="card-body text-center">
          <p class="card-text">Some text inside the third card</p>
        </div>
      </div>
      <div class="card bg-danger">
        <div class="card-body text-center">
          <p class="card-text">Some text inside the fourth card</p>
        </div>
      </div>  
      <div class="card bg-light">
        <div class="card-body text-center">
          <p class="card-text">Some text inside the fifth card</p>
        </div>
      </div>
      <div class="card bg-info">
        <div class="card-body text-center">
          <p class="card-text">Some text inside the sixth card</p>
        </div>
      </div>
    </div>
  </div> -->


  <!-- <div class="max-width-container">

    <h2>Internshala Trainings</h2>
    <p class="section_description">
        Learn new-age skills on the go
        <a class="view_all_cta" target="_blank" href="https://trainings.internshala.com/?utm_source=IS-home-midsection_web_all">
            View all trainings<i class="is-icon-arrow-right"></i>
        </a>
    </p>

    <div id="trainings_container" class="scrollable_cards">
                            <a href="https://trainings.internshala.com/python-training?utm_source=IS-home-midsection_web1" class="card_item" target="_blank">
                <div class="img">
                    <img src="Git/Repositeries/Major-Project-FullStack/BackendServer/uploads/5efb2101975f1f3f1c21c163_screenshots_1.jpeg" alt="">
                </div>
                <div class="text">
                    Programming with Python                        </div>
            </a>
                                <a href="https://trainings.internshala.com/digital-marketing-training?utm_source=IS-home-midsection_web2" class="card_item" target="_blank">
                <div class="img">
                    <img src="/static/images/home/trainings/icons/digital_marketing.svg" alt="">
                </div>
                <div class="text">
                    Digital Marketing                        </div>
            </a>
                                <a href="https://trainings.internshala.com/web-development-training?utm_source=IS-home-midsection_web3" class="card_item" target="_blank">
                <div class="img">
                    <img src="/static/images/home/trainings/icons/web_development.svg" alt="">
                </div>
                <div class="text">
                    Web Development                        </div>
            </a>
                                <a href="https://trainings.internshala.com/machine-learning-training?utm_source=IS-home-midsection_web4" class="card_item" target="_blank">
                <div class="img">
                    <img src="/static/images/home/trainings/icons/machine_learning.svg" alt="">
                </div>
                <div class="text">
                    Machine Learning                        </div>
            </a>
                                <a href="https://trainings.internshala.com/excel-training?utm_source=IS-home-midsection_web5" class="card_item" target="_blank">
                <div class="img">
                    <img src="/static/images/home/trainings/icons/advanced_excel.svg" alt="">
                </div>
                <div class="text">
                    Advanced Excel                        </div>
            </a>
                                <a href="https://trainings.internshala.com/hacking-training?utm_source=IS-home-midsection_web6" class="card_item" target="_blank">
                <div class="img">
                    <img src="/static/images/home/trainings/icons/ethical_hacking.svg" alt="">
                </div>
                <div class="text">
                    Ethical Hacking                        </div>
            </a>
                                <a href="https://trainings.internshala.com/autocad-training?utm_source=IS-home-midsection_web7" class="card_item" target="_blank">
                <div class="img">
                    <img src="/static/images/home/trainings/icons/autocad.svg" alt="">
                </div>
                <div class="text">
                    AutoCAD                        </div>
            </a>
                                <a href="https://trainings.internshala.com/creative-writing-training?utm_source=IS-home-midsection_web8" class="card_item" target="_blank">
                <div class="img">
                    <img src="/static/images/home/trainings/icons/creative_writing.svg" alt="">
                </div>
                <div class="text">
                    Creative Writing                        </div>
            </a>
                        </div>

    <div class="view_all_cta_container_20_more">
        &amp; 16 more... 
    </div>
    <div class="view_all_cta_container">
        <a class="view_all_cta" target="_blank" href="https://trainings.internshala.com/?utm_source=IS-home-midsection_web_all">
            View all trainings<i class="is-icon-arrow-right"></i>
        </a>
    </div>
</div> -->