.intercom-namespace .intercom-1yx2u8t {
    z-index: 2147483000;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 6px 0px, rgba(0, 0, 0, 0.16) 0px 2px 32px 0px;
    border-radius: 50%;
    background: rgb(19, 170, 82);
}

.intercom-namespace div, .intercom-namespace span, .intercom-namespace iframe {
    font-family: intercom-font, "Helvetica Neue", "Apple Color Emoji", Helvetica, Arial, sans-serif;
    font-size: 100%;
    font-style: normal;
    letter-spacing: normal;
    font-stretch: normal;
    font-weight: normal;
    text-align-last: initial;
    text-indent: 0px;
    text-shadow: none;
    text-transform: none;
    /* alignment-baseline: baseline; */
    animation-play-state: running;
    backface-visibility: visible;
    background-color: transparent;
    background-image: none;
    /* baseline-shift: baseline; */
    bottom: auto;
    -box-decoration-break: slice;
    box-shadow: none;
    box-sizing: content-box;
    caption-side: top;
    clear: none;
    clip: auto;
    color: inherit;
    column-count: auto;
    column-fill: balance;
    column-gap: normal;
    column-width: auto;
    content: normal;
    counter-increment: none;
    counter-reset: none;
    cursor: auto;
    direction: ltr;
    display: inline;
    /* dominant-baseline: auto; */
    empty-cells: show;
    float: none;
    /* height: auto; */
    -webkit-hyphenate-character: auto;
    hyphens: manual;
    image-rendering: auto;
    left: auto;
    line-height: inherit;
    max-height: none;
    max-width: none;
    min-height: 0px;
    min-width: 0px;
    opacity: 1;
    orphans: 2;
    outline-offset: 0px;
    perspective: none;
    perspective-origin: 50% 50%;
    pointer-events: auto;
    position: static;
    quotes: none;
    resize: none;
    right: auto;
    size: auto;
    table-layout: auto;
    top: auto;
    transform: none;
    transform-origin: 50% 50% 0px;
    transform-style: flat;
    unicode-bidi: normal;
    vertical-align: baseline;
    white-space: normal;
    widows: 2;
    /* width: auto; */
    word-break: normal;
    word-spacing: normal;
    overflow-wrap: normal;
    z-index: auto;
    text-align: start;
    -webkit-font-smoothing: antialiased;
    font-variant: normal;
    text-decoration: none;
    border-width: 0px;
    border-style: none;
    border-color: transparent;
    border-image: initial;
    border-radius: 0px;
    list-style: outside none disc;
    margin: 0px;
    overflow: visible;
    padding: 0px;
    page-break-after: auto;
    page-break-before: auto;
    page-break-inside: auto;
}

iframe {
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

html {
    font-family: intercom-font, "Helvetica Neue", "Apple Color Emoji", Helvetica, Arial, sans-serif;
    font-size: 100%;
    font-style: normal;
    letter-spacing: normal;
    font-stretch: normal;
    font-weight: normal;
    text-align: left;
    text-align-last: initial;
    text-indent: 0px;
    text-shadow: none;
    text-transform: none;
    box-sizing: content-box;
    -webkit-font-smoothing: antialiased;
    line-height: 1;
    font-variant: normal;
    text-decoration: none;
}
html
/* [Attributes Style]  */
{
    -webkit-locale: "en";
}

/* user agent stylesheet */
html {
    display: block;
}

#intercom-container-body {
    overflow: hidden;
}

div {
    display: block;
}

.intercom-rkaeus {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transform-origin: center center;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    border-radius: 50%;
    overflow: hidden;
}

.intercom-dlvlg4 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    opacity: 1;
    transform: rotate(0deg) scale(1);
    transition: transform 0.16s linear 0s, opacity 0.08s linear 0s;
}

.intercom-rkaeus * {
    cursor: pointer;
}
.intercom-dlvlg4 svg {
    width: 28px;
    height: 32px;
}
svg:not(:root) {
    overflow: hidden;
}

.intercom-crher1 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    opacity: 0;
    transform: rotate(-60deg);
    transition: transform 0.16s linear 0s, opacity 0.08s linear 0s;
}

.intercom-crher1 svg {
    width: 16px;
}

.intercom-crher1 svg path {
    fill: rgb(255, 255, 255);
}
/* <style> */
.intercom-rkaeus * {
    cursor: pointer;
}
path
/* [Attributes Style]  */
{
    fill-rule: evenodd;
    clip-rule: evenodd;
    display: path("M 0.116 4.884 l 1.768 -1.768 L 8 9.232 l 6.116 -6.116 l 1.768 1.768 L 8 12.768 L 0.116 4.884 Z");
}
/* user agent stylesheet */
:not(svg) {
    transform-origin: 0px 0px;
}