
  <div class="container wow fadeIn" data-wow-duration="2s" id="container" style="height: 200px; margin-top: 80px;">
    <div class="form-container sign-up-container">
    
    <form #mm="ngForm">
        <h1>Create Account</h1>
        <div class="social-container">
            <a href="https://www.facebook.com/" target="_blank" class="social"><i class="fa fa-facebook"></i></a>
            <a href="https://www.google.com/" target="_blank" class="social"><i class="fa fa-google"></i></a>
            <a href="https://www.linkedin.com/" target="_blank" class="social"><i class="fa fa-linkedin"></i></a>
        </div>
        <span>or use your email for registration</span>
        <input type="text" name="name" placeholder="Name" [(ngModel)]="record.name" required maxlength="20">
        <input type="email" name="email" placeholder="Email" [(ngModel)]="record.email" required>
        <input type="password" name="password" placeholder="Password" [(ngModel)]="record.password" minlength="6" required>
        <button *ngIf="mm.valid" class="btn" (click)="createAccount()">SignUp</button>
    </form>
    </div>
    <div class="form-container sign-in-container">
        <form #mn="ngForm">
            <h1>Sign In</h1>
            <div class="social-container">
            <a href="https://www.facebook.com/" target="_blank" class="social-icon"><i class="fa fa-facebook"></i></a>
            <a href="https://www.google.com/" target="_blank" class="social-icon"><i class="fa fa-google"></i></a>
            <a href="https://www.linkedin.com/" target="_blank" class="social-icon"><i class="fa fa-linkedin"></i></a>
        </div>
        <span>or use your account</span>
        <input type="email" name="email" placeholder="Email" [(ngModel)]="accountdata.email" required>
        <input type="password" name="password" placeholder="Password" [(ngModel)]="accountdata.password" required>
        <a href="#">Forgot Your Password</a>
        <button class="btn" (click)="login()">Sign In</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left" style="background: url(../assets/img/header-bg.png);">
                <br>
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button class="ghost btn" id="signIn" #overlay>Sign In</button><br>
                <p>Great ! Now you can explore yourself.<br><br>Good Luck !!</p>
                <!-- <p>Good Luck !!</p> -->
            </div>
            <div class="overlay-panel overlay-right" style="background: url(../assets/img/header-bg.png);">
                <br><br>
                <h1>Hello, Friend!</h1><br>
                <p>Enter your details and start journey with us</p><br>
                <button class="ghost btn" id="signUp">Sign Up</button><br>
                <p>This takes two minutes to get registered, head towards your need.</p>
            </div>
        </div>
    </div>
    </div>
    <br><br>