body {
    background-color: #efefef;
  }
  
  .profile-pic {
      max-width: 200px;
      max-height: 200px;
      display: block;
  }
  
  .file-upload {
      display: none;
  }
  .circle {
      background-color: rgb(221, 220, 220);
      border-radius: 1000px !important;
      overflow: hidden;
      width: 150px;
      height: 150px;
      border: 8px solid rgba(165, 165, 158, -2.3);
      /* position: absolute;
      top: 115px; */
      box-shadow: 6px 6px 5px grey;
      background-position: center;
      background-size: cover;
      /* background: url('https://ssl.gstatic.com/accounts/ui/avatar_2x.png'); */
  }
  img {
      max-width: 100%;
      height: auto;
  }
  .p-image {
    /* position: absolute; */
    /* top: 225px;
    left: 44rem; */
    margin-top: -2rem;
    margin-left: 7rem;
    color: #776868;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  }
  .p-image:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  }
  .upload-button {
    font-size: 1.2em;
  }
  
  .upload-button:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    color: #999;
  }

  table, th, td {
    /* border: 1px solid black; */
    padding: 8px;
    text-align: left;
  }

  .zz:hover{
    /* color: blue; */
    color: rgba(9, 33, 36, 0.705);
    opacity: 0.7;
}
  .dd:hover
  {
    background-color: #b7d6d7;
  }
  /* table {
    border-spacing: 25px;
  } */


  /* .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  } */

  .alert {
      font-family: sans-serif;
      padding: 10px;
      /* margin-bottom: 20px; */
      border: 1px solid transparent;
      border-radius: 4px;
  }
  
  .alert-success {
      color: #3c763d;
      background-color: #dff0d8;
      border-color: #d6e9c6;
  }

  .popup-overlay {
    /*Hides pop-up when there is no "active" class*/
    visibility: hidden;
    position: absolute;
    background: #ffffff;
    border: 3px solid #666666;
    width: 40%;
    height: 50%;
    left: 55%;
    /* content: ""; */
  }
  
  .popup-overlay.active {
    /*displays pop-up when "active" class is present*/
    visibility: visible;
    text-align: center;
    content: "";
  }
  
  .popup-content {
    /*Hides pop-up content when there is no "active" class */
    visibility: hidden;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  .popup-content.active {
    /*Shows pop-up content when "active" class is present */
    visibility: visible;
  }
  
  .but {
    display: inline-block;
    /* vertical-align: middle; */
    border-radius: 30px;
    margin-left: 2rem;
    margin-top: 7rem;
    font-size: 1rem;
    color: #666666;
    background: #ffffff;
    border: 1px solid #666666;
  }
  
  .but:hover {
    border: 1px solid #666666;
    background: #666666;
    color: #ffffff;
  }
.in{
  outline: none;
}

  .in:hover .edit{
    display: block;
  }
  
  .edit {
    padding-top: 2px;	
    /* padding-right: 7px; */
    position: absolute;
    margin-top: -1.8rem;
    margin-left: 10.6rem;
    display: none;
    color: #000;
  }
  .edit2 {
    padding-top: 2px;	
    /* padding-right: 7px; */
    position: absolute;
    margin-top: -1.8rem;
    margin-left: 9.6rem;
    display: none;
    color: #000;
  }
  .edit1 {
    /* //padding-top: 2px;	
    // padding-right: 7px; */
    position: absolute;
    margin-top: 1rem;
    margin-left: 1rem;
    display: visible;
    color: #000;
  }
  
  