<!-- Start Banner Area --> 
<section class="home-banner-area relative">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-center" style="height:789px;">
            <div class="banner-content col-lg-8 col-md-12">
               <br><br><br> <h1 class="wow fadeIn" data-wow-duration="4s"> We Rank the Best Projects <br> on the Web</h1>
                <p class="text-white">
                    In the history of modern astronomy, there is probably no one greater leap forward than the building and launch of the space
                    telescope.
                </p>

                <div class="input-wrap">
                    <form #cc="ngForm" class="form-box d-flex justify-content-between">
                        <input type="text" id="search" pattern="[^'\x22]+" placeholder="Search Project" class="form-control" [(ngModel)]="keyword" name="keyword" required>
                        <button *ngIf="cc.valid" type="submit" class="btn search-btn" (click)="search()">Search</button>
                    </form>
                </div>
                
                <h4 class="text-white">Top technologies</h4>

                <div class="courses pt-20">
                    <a (click)="searchpro('Ruby on Rails')" target="_top" data-wow-duration="1s" data-wow-delay=".3s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">Ruby on Rails</a>
                    <a (click)="searchpro('Python')" target="_top" data-wow-duration="1s" data-wow-delay=".6s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">Python</a>
                    <a (click)="searchpro('Marketing')" target="_top" data-wow-duration="1s" data-wow-delay=".9s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">Marketing</a>
                    <a (click)="searchpro('UI/UX Design')" target="_top" data-wow-duration="1s" data-wow-delay="1.2s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">UI/UX Design</a>
                    <a (click)="searchpro('Android')" target="_top" data-wow-duration="1s" data-wow-delay="1.5s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">Android</a>
                    <a (click)="searchpro('Data Science')" target="_top" data-wow-duration="1s" data-wow-delay="1.8s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">Data Science</a>
                    <a (click)="searchpro('Cryptocurrency')" target="_top" data-wow-duration="1s" data-wow-delay="2.1s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">Cryptocurrency</a>
                    <a (click)="searchpro('Javascript')" target="_top" data-wow-duration="1s" data-wow-delay="2.4s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">Javascript</a>
                    <a (click)="searchpro('Html / CSS')" target="_top" data-wow-duration="1s" data-wow-delay="2.7s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">Html / CSS</a>
                </div>
            </div>
        </div>
    </div>
    <div class="rocket-img">
        <img src="assets/img/rocket.png" alt="">
    </div>
</section>
<!-- End Banner Area -->


<!-- Start About Area -->
<section class="about-area section-gap">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-5 col-md-6 about-left">
                <img class="img-fluid" src="assets/img/about.jpg" alt="">
            </div>
            <div class="offset-lg-1 col-lg-6 offset-md-0 col-md-12 about-right">
                <h1>
                    Over 2500 Technologies <br> from 5 Platform
                </h1>
                <div class="wow fadeIn" data-wow-duration="1s">
                    <p>
                        There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope. It’s exciting to think
                        about setting up your own viewing station. In the life of any aspiring astronomer that it is time to buy that first
                        telescope. It’s exciting to think about setting up your own viewing station.
                    </p>
                </div>
                <a routerLink="/displayproject" class="primary-btn">Explore Projects</a>
            </div>
        </div>
    </div>
</section>
<!-- End About Area -->


<!-- Start Courses Area -->
<section class="courses-area section-gap">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 about-right">
                <h1>
                    This is Why <br> We have Solid Idea
                </h1>
                <div class="wow fadeIn" data-wow-duration="1s">
                    <p>
                        Plans are only good intentions unless they immediately degenerate into hard work.
                    </p>
                    <p>
                        “Get the right people. Then no matter what all else you might do wrong after that, the people will save you. That’s what management is all about.” – Tom DeMarco
                    </p>
                </div>
                <a routerLink="/displayproject" class="primary-btn">Explore Projects</a>
            </div>
            <div class="offset-lg-1 col-lg-6">
                <div class="courses-right">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <ul class="courses-list c">
                                <li>
                                    <a class="wow fadeInLeft" (click)="searchpro('Development')" target="_top" data-wow-duration="1s" data-wow-delay=".1s">
                                        <i class="fa fa-book"></i> Development
                                    </a>
                                </li>
                                <li>
                                    <a class="wow fadeInLeft" (click)="searchpro('IT & Software')" target="_top" data-wow-duration="1s" data-wow-delay=".3s">
                                        <i class="fa fa-book"></i> IT & Software
                                    </a>
                                </li>
                                <li>
                                    <a class="wow fadeInLeft" (click)="searchpro('Photography')" target="_top" data-wow-duration="1s" data-wow-delay=".5s">
                                        <i class="fa fa-book"></i> Photography
                                    </a>
                                </li>
                                <li>
                                    <a class="wow fadeInLeft" (click)="searchpro('Language')" target="_top" data-wow-duration="1s" data-wow-delay=".7s">
                                        <i class="fa fa-book"></i> Language
                                    </a>
                                </li>
                                <li>
                                    <a class="wow fadeInLeft" (click)="searchpro('Life Science')" target="_top" data-wow-duration="1s" data-wow-delay=".9s">
                                        <i class="fa fa-book"></i> Life Science
                                    </a>
                                </li>
                                <li>
                                    <a class="wow fadeInLeft" (click)="searchpro('Business')" target="_top" data-wow-duration="1s" data-wow-delay="1.1s">
                                        <i class="fa fa-book"></i> Business
                                    </a>
                                </li>
                                <li>
                                    <a class="wow fadeInLeft" (click)="searchpro('Social Science')" target="_top" data-wow-duration="1s" data-wow-delay="1.3s">
                                        <i class="fa fa-book"></i> Social Science
                                    </a>
                                </li>
                                <li>
                                    <a class="wow fadeInLeft" (click)="searchpro('MEAN Stack')" target="_top" data-wow-duration="1s" data-wow-delay="1.6s">
                                        <i class="fa fa-book"></i> MEAN Stack
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <ul class="courses-list c">
                                <li>
                                    <a class="wow fadeInRight" (click)="searchpro('MERN Stack')" target="_top" data-wow-duration="1s" data-wow-delay="1.6s">
                                        <i class="fa fa-book"></i> MERN Stack
                                    </a>
                                </li>
                                <li>
                                    <a class="wow fadeInRight" (click)="searchpro('Data Science')" target="_top" data-wow-duration="1s" data-wow-delay="1.3s">
                                        <i class="fa fa-book"></i> Data Science
                                    </a>
                                </li>
                                <li>
                                    <a class="wow fadeInRight" (click)="searchpro('Design')" target="_top" data-wow-duration="1s" data-wow-delay="1.1s">
                                        <i class="fa fa-book"></i> Design
                                    </a>
                                </li>
                                <li>
                                    <a class="wow fadeInRight" (click)="searchpro('Training')" target="_top" data-wow-duration="1s" data-wow-delay=".9s">
                                        <i class="fa fa-book"></i> Training
                                    </a>
                                </li>
                                <li>
                                    <a class="wow fadeInRight" (click)="searchpro('Humanities')" target="_top" data-wow-duration="1s" data-wow-delay=".7s">
                                        <i class="fa fa-book"></i> Humanities
                                    </a>
                                </li>
                                <li>
                                    <a class="wow fadeInRight" (click)="searchpro('Marketing')" target="_top" data-wow-duration="1s" data-wow-delay=".5s">
                                        <i class="fa fa-book"></i> Marketing
                                    </a>
                                </li>
                                <li>
                                    <a class="wow fadeInRight" (click)="searchpro('Economics')" target="_top" data-wow-duration="1s" data-wow-delay=".3s">
                                        <i class="fa fa-book"></i> Economics
                                    </a>
                                </li>
                                <li>
                                    <a class="wow fadeInRight" (click)="searchpro('Personal Dev')" target="_top" data-wow-duration="1s" data-wow-delay=".1s">
                                        <i class="fa fa-book"></i> Personal Dev
                                    </a>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Courses Area -->


<!--Start Feature Area -->
<section class="feature-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <h1>Features That Make Us Hero</h1>
                    <p>
                        Project planning and scheduling, 
                        Team collaboration, 
                        Time tracking, 
                        Reporting, 
                        Project budgeting, 
                        Billing & quotes, 
                    </p>
                </div>
            </div>
        </div>
        <div class="feature-inner row">
            <div class="col-lg-4 col-md-6">
                <div class="feature-item">
                    <i class="ti-crown"></i>
                    <h4>Architecture</h4>
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
                        <p>
                            As with a wide range of other fields, architecture and engineering have been revolutionized by innovations in the last decades, and particularly in recent years.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature-item">
                    <i class="ti-briefcase"></i>
                    <h4>Freely Accessible</h4>
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s">
                        <p>
                            To truly benefit from a project management system you need to not only know how to use it but also be cautious when picking one for yourself. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature-item">
                    <i class="ti-medall-alt"></i>
                    <h4>Design</h4>
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s">
                        <p>
                            You probably cannot afford to make a mistake when choosing the best project management system. As a project manager, you need to prepare a project plan.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature-item">
                    <i class="ti-key"></i>
                    <h4>Lifetime Access</h4>
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
                        <p>
                            A project life cycle is the sequence of phases that a project goes through from its initiation to its closure. Project’s purpose, vision, and mission, Measurable objectives and criteria.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature-item">
                    <i class="ti-files"></i>
                    <h4>Source File Included</h4>
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s">
                        <p>
                           As this website is freely accessible also its source file is freely available and could be easily downloaded just with an inital idea and simple authentication.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature-item">
                    <i class="ti-headphone-alt"></i>
                    <h4>Live Support</h4>
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s">
                        <p>
                            24x7 assistance is provided. Users can get through Live Support by us in few followable steps i.e either by filling a assistance form or one can write a mail for the same.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Feature Area -->


<!-- Start Faculty Area -->

<!-- <section class="faculty-area section-gap">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <h1>Faculty Members</h1>
                    <p>
                        If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for
                        as low as $.17 each.
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center d-flex align-items-center">
            <div class="col-lg-3 col-md-6 col-sm-12 single-faculty">
                <div class="thumb d-flex justify-content-center">
                    <img class="img-fluid" src="assets/img/faculty/f1.jpg" alt="">
                </div>
                <div class="meta-text text-center">
                    <h4>Ethel Davis</h4>
                    <p class="designation">Sr. Faculty Data Science</p>
                    <div class="info wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
                        <p>
                            If you are looking at blank cassettes on the web, you may be very confused at the difference in price.
                        </p>
                    </div>
                    <div class="align-items-center justify-content-center d-flex">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 single-faculty">
                <div class="thumb d-flex justify-content-center">
                    <img class="img-fluid" src="assets/img/faculty/f2.jpg" alt="">
                </div>
                <div class="meta-text text-center">
                    <h4>Rodney Cooper</h4>
                    <p class="designation">Sr. Faculty Data Science</p>
                    <div class="info wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s">
                        <p>
                            If you are looking at blank cassettes on the web, you may be very confused at the difference in price.
                        </p>
                    </div>
                    <div class="align-items-center justify-content-center d-flex">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 single-faculty">
                <div class="thumb d-flex justify-content-center">
                    <img class="img-fluid" src="assets/img/faculty/f3.jpg" alt="">
                </div>
                <div class="meta-text text-center">
                    <h4>Dora Walker</h4>
                    <p class="designation">Sr. Faculty Data Science</p>
                    <div class="info wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s">
                        <p>
                            If you are looking at blank cassettes on the web, you may be very confused at the difference in price.
                        </p>
                    </div>
                    <div class="align-items-center justify-content-center d-flex">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 single-faculty">
                <div class="thumb d-flex justify-content-center">
                    <img class="img-fluid" src="assets/img/faculty/f4.jpg" alt="">
                </div>
                <div class="meta-text text-center">
                    <h4>Lena Keller</h4>
                    <p class="designation">Sr. Faculty Data Science</p>
                    <div class="info wow fadeIn" data-wow-duration="1s" data-wow-delay=".7s">
                        <p>
                            If you are looking at blank cassettes on the web, you may be very confused at the difference in price.
                        </p>
                    </div>
                    <div class="align-items-center justify-content-center d-flex">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- End Faculty Area -->


<!-- Start Testimonials Area -->
<section class="testimonials-area section-gap">
    <div class="container">
        <div class="testi-slider1 owl-carousel" data-slider-id="2">
            <div class="item" *ngFor="let t of testimonials">
                <div class="testi-item">
                    <img src="assets/img/quote.png" alt="">
                    <h4>{{t.uname}}</h4>
                     <ul class="list">
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                    </ul>
                    
                    <div class="wow fadeIn" data-wow-duration="1s">
                        <p style="text-align: center;">
                            {{t.testimonial}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testi-item">
                    <img src="assets/img/quote.png" alt="">
                    <h4>Fanny Spencer</h4>
                    <ul class="list">
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                    </ul>
                    <div class="wow fadeIn" data-wow-duration="1s">
                        <p>
                            As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about it, you travel
                            across her face <br> and She is the host to your journey.
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testi-item">
                    <img src="assets/img/quote.png" alt="">
                    <h4>Fanny Spencer</h4>
                    <ul class="list">
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                    </ul>
                    <div class="wow fadeIn" data-wow-duration="1s">
                        <p>
                            As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about it, you travel
                            across her face <br> and She is the host to your journey.
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testi-item">
                    <img src="assets/img/quote.png" alt="">
                    <h4>Fanny Spencer</h4>
                    <ul class="list">
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                    </ul>
                    <div class="wow fadeIn" data-wow-duration="1s">
                        <p>
                            As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about it, you travel
                            across her face <br> and She is the host to your journey.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="owl-thumbs d-flex justify-content-center" data-slider-id="1">
            <div class="owl-thumb-item">
                <div>
                    <img class="img-fluid" src="assets/img/testimonial/t1.jpg" alt="">
                </div>
                <div class="overlay overlay-grad"></div>
            </div>
            <div class="owl-thumb-item">
                <div>
                    <img class="img-fluid" src="assets/img/testimonial/t2.jpg" alt="">
                </div>
                <div class="overlay overlay-grad"></div>
            </div>
            <div class="owl-thumb-item">
                <div>
                    <img class="img-fluid" src="assets/img/testimonial/t3.jpg" alt="">
                </div>
                <div class="overlay overlay-grad"></div>
            </div>
            <div class="owl-thumb-item">
                <div>
                    <img class="img-fluid" src="assets/img/testimonial/t4.jpg" alt="">
                </div>
                <div class="overlay overlay-grad"></div>
            </div>
        </div> -->
    </div>
</section>
<!-- End Testimonials Area -->



