<div class="alert alert-success" style="text-align: center;">
    <strong>Hey there!</strong> Have You Forgotten Your Password !! Not to worry just follow the steps you will find your password easily.
</div>


<form novalidate [formGroup]="forgotpassForm" (ngSubmit)="onsubmit()" style="margin-left: 2rem;margin-top: 2rem;">
    <label for="inputEmail" style="font-weight: bold;font: outline;font-size: large;color: black;">Email</label>
            <input type="email" class="form-control" name="email" id="inputEmail" placeholder="Enter Email" style="width: 95%;"
            onfocus="this.placeholder=''" onblur="this.placeholder='Enter Email'" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div><br>
            <button type="btn btn-primary" class="btn btn-default zz">Submit</button>&nbsp;&nbsp; <button type="button" class="btn btn-default zz" (click)="goback()">Back</button>
</form>
