.alert {
    font-family: sans-serif;
        padding: 15px;
      margin-bottom: 20px;
      border: 1px solid transparent;
      border-radius: 4px;
  }
  
  .alert-success {
    color: #3c763d;
      background-color: #dff0d8;
      border-color: #d6e9c6;
  }
  .zz
  {
    cursor: pointer;
    background-color: rgb(68, 175, 175);
  }
  .zz:hover
  {
      background-color: darkcyan;
  }