<!-- Start Header Area -->
<header id="header">
    <div class="container">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a routerLink="/home"><img src="assets/img/logo.png" alt="" title="" /></a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu" style="right: 6rem;">
                    <li ><a routerLink="">Home</a></li> 
                     <!-- class="menu-active" -->
                    <li><a href="about.html">About</a></li>
                    <li><a href="courses.html">Courses</a></li>
                    <li class="menu-has-children"><a href="">Pages</a>
                        <ul>
                            <li><a href="elements.html">Elements</a></li>
                        </ul>
                    </li>
                    <li class="menu-has-children"><a href="">Blog</a>
                        <ul>
                            <li><a href="blog-home.html">Blog Home</a></li>
                            <li><a href="blog-single.html">Blog Details</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                    <li *ngIf="!curuser"><a routerLink="/login">Login</a></li>
                    <li *ngIf="curuser" class="menu-has-children"><a routerLink=""><i class="fas fa-user fa fw"></i></a>
                        <ul>
                            <li><a routerLink="">Hello {{curuser}}</a></li>
                            <li><a routerLink="/dashboard">My Dashdoard</a></li>
                            <div class="dropdown-divider"></div>
                            <li><a  (click)="logout()">Logout</a></li>
                        </ul>
                    </li>

                    <!-- <a class="dropdown-item" *ngIf="!curuser" routerLink="/login">Login</a>
                    <a class="dropdown-item" *ngIf="curuser" routerLink="">Hello {{curuser}}</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" *ngIf="curuser" routerLink="" (click)="logout()">Logout</a> -->

                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </div>
</header>
<!-- End Header Area -->